h1{
    font-family; metal-mania-regular;
    font-weight: bold;
    color: red;
    text-decoration-line: underline ;
    text-shadow: 1px 1px;
}
#intro {
    font-weight: bold;
    color: red;
    text-decoration-line: underline ;
    text-shadow: 1px 1px;
}
h2 {
    color: Red;
}

h3 {
    color: Red;
}
#projects{
    color: Red;
}
.metal-mania-regular {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
}
